body {
  font-family: roboto, sasn-serif;
}

h1 {
  font-weight: 700;
  text-align: center;
}

p {
  padding: 10%, 20%;
  font-weight: 400;
  text-align: center;
}

#gameStats {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 700;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 5%;
  gap: 2%;
}

button {
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
  font-size: 1.5em;
  font-weight: 700;
}